{% extends 'base.html.twig' %}

{% block content %}

	<div class="general_section">

		{{ include('security/online.html.twig') }}

		<div class="chat_section">
			<div class="messenger">
				<p class="messenger_title">
					<i class="fa-solid fa-earth-europe"></i>
					General Chat
				</p>
				{% include 'websocket/index.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
