{% extends 'base.html.twig' %}

{% block content %}
	<div id="change-account-wrapper">
		{{ form(form) }}
		<a href="{{ path('app_account_password') }}" class="btn btn-primary btn-submit">Change password</a>
	</div>
{% endblock %}
