{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block content %}
<h1>Mot De passe</h1>
<a href="{{ path('app_account') }}">Retourner à mon compte</a>
<hr>
{% if notification %}
<div class="alert alert-info">
    {{ notification }}
    </div>
{% endif %}
{{ form(form) }}
<hr>
{% endblock %}
