<div class="online_section">
	{# ONLINE FRIENDS :  #}
	<p class="online_title"><i class="fa-solid fa-user"></i> Online Friends</p>
	<div class="online">
		{% for user in friends.online %}
			{% include 'security/_online_row.html.twig' with {'user': user} %}
		{% endfor %}
	</div>
	{# OFFLINE FRIENDS :  #}
	<span class="online-separator"></span>
	<p class="online_title"><i class="fa-solid fa-user"></i> Offline Friends</p>
	<div class="online">
		{% for user in friends.offline %}
			{% include 'security/_online_row.html.twig' with {'user': user} %}
		{% endfor %}
	</div>

	{# EXPLORERS : #}
	<span class="online-separator"></span>
	<p class="online_title"><i class="fa-solid fa-user"></i> Explorers ({{ explorers|length }})</p>
	<div class="online">
		{% for user in explorers %}
			{% include 'security/_online_row.html.twig' with {'user': user} %}
		{% endfor %}
	</div>
</div>
