<div class="cmodal-background hidden">
    <div class="cmodal">
        <div class="cmodal-close"><i class="fa-solid fa-xmark"></i></div>
        <div class="cmodal-content">
            <div class="cmodal-top">
                <i class="fa-solid fa-user"></i>
                <p>Select a user</p>
            </div>
            <div class="cmodal-search-wrapper">
                <input type="text" placeholder="Search by username" class="cmodal-search" data-url="{{ path('app_user_search', {fav: fav}) }}">
                <i class="fa-solid fa-magnifying-glass cmodal-search-icon"></i>
            </div>
            <div class="cmodal-result hidden"></div>
            <div class="cmodal-noresult hidden">Could not find a user matching <span class="cmodal-string"></span></div>
            <div class="cmodal-selected hidden">
                <div class="cmodal-unselect"><i class="fa-solid fa-xmark"></i></div>
            </div>
        </div>
        <div class="cmodal-footer">
            {% if fav %}
                <a data-href="{{ path('app_favorite_share_user_default', {id: fav}) }}" data-origin="Select a user above" data-alt="Add %user%" class="disabled">Select a user above</a>
            {% else %}
                <a data-href="{{ path('app_friend_add_default') }}" data-origin="Select a user above" data-alt="Add %user%" class="disabled">Select a user above</a>
            {% endif %}
        </div>
    </div>
</div>