<div class="cmodal-background hidden">
    <div class="cmodal">
        <div class="cmodal-close"><i class="fa-solid fa-xmark"></i></div>
        <div class="cmodal-content">
            <div class="cmodal-top">
                <i class="fa-solid fa-user"></i>
                <p>Select a user</p>
            </div>
            <div class="cmodal-search-wrapper">
                <input type="text" placeholder="Search by username" class="cmodal-search" data-url="{{ path('app_user_search', {type, param}) }}">
                <i class="fa-solid fa-magnifying-glass cmodal-search-icon"></i>
            </div>
            <div class="cmodal-result hidden"></div>
            <div class="cmodal-noresult hidden">Could not find a user matching <span class="cmodal-string"></span></div>
            <div class="cmodal-selected hidden">
                <div class="cmodal-unselect"><i class="fa-solid fa-xmark"></i></div>
            </div>
        </div>
        <div class="cmodal-footer">
            <a 
                data-href="{{ url }}" 
                data-origin="Select a user above" 
                data-alt="Add %user%" 
                class="cmodal-confirm disabled"
                data-type="{{ type }}"
            >Select a user above</a>
        </div>
    </div>
</div>