
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/a2urbex192x192.png
/public/public/a2urbex512x512.png
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.DS_STORE
yarn.lock
public/assets/export.json
public/img/
public/uploads
.php-version
chat.json
public/chat.json
public/chat.json
composer.lock
