
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.DS_STORE
yarn.lock
public/assets/export.json
public/img/
public/uploads
.php-version
chat.json
public/chat.json
public/chat.json
composer.lock
nohup.out
.env
public/pin.json
public/pin.json
public/count.json
