
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

### webpack ###
/node_modules/
/public/assets/build/
/public/build/
/build_admin/
npm-debug.log
yarn-error.log
### webpack ###

.DS_Store
yarn.lock
.php-version
composer.lock
nohup.out
.env
todo.txt

public/img/
public/uploads