{% extends 'base.html.twig' %}

{% block title %}Hello MapsController!{% endblock %}

{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<div id="map-wrapper">
    <div id="map"></div>
    <div id="map-overlay">
        <a href="#" class="map-overlay-close"><i class="fa-solid fa-xmark"></i></a>
        <div class="map-overlay-img-wrapper">
            <div class="map-overlay-img"></div>
            {% include 'location/_pin_fav.html.twig' %}
        </div>
        {% if app.user %}
        <p class="map-overlay-title"></p>
        {% endif %}
        <p class="map-overlay-type pin-type">
            <span class="pin-type-icon"></span>
            <span class="pin-type-text"></span>
        </p>
        <div class="map-overlay-action">
            <a class="pin-waze" target="blank" data-url="https://waze.com/ul?q="><i class="fa-brands fa-waze"></i></a>
            <a class="pin-map" target="blank" data-url="https://www.google.com/maps?t=k&q="><i class="fa-solid fa-earth-europe"></i></a>
            {% if app.user %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a class="pin-conf" target="blank" data-url="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CLocationCrudController&entityId="><i class="fa-solid fa-pen-to-square"></i></a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap&v=weekly" defer></script>
<script>const pinLocationPath="{{ pin_location_path }}"; const locations=`{{ locations|raw }}`;</script>
{% endblock %}
