body {
  background-color: #222222;
  min-height: 100vh;
  position: relative;
  padding-top: 44px;
  padding-bottom: 44px;
  color: #5a5a5a;
  margin: auto;
  font-family: Roboto, sans-serif;

  a {
    color: #8d8d8d;
    text-decoration: none;

    &:hover {
      color: #60a5fa;
      text-decoration: none;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

iframe {
  margin: auto;
  text-align: center;
  width: 100vw;
  height: 50vh;
}

footer {
  height: 44px;
  padding: 10px;
  font-size: 0.895rem;
  position: absolute;
  bottom: 0;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  box-shadow: inset 0 1px 0 #525252;
  background-color: #222222;

  a {
    color: #acacac;
  }

  .contact_desktop {
    display: block;
    right: 10px;
    position: absolute;
  }
  .contact_mobile {
    display: none;
    margin-left: 5px;
  }
}

#disabled {
  filter: blur(1.4px) saturate(0%);
  opacity: 0.4;
}

i.fa-solid.fa-heart {
  color: #60a6fa;
}

.fixed-top {
  height: 44px;
  text-align: right;
  background-color: #3030306e;
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: inset 0 -1px 0 #525252;
  padding: 8px 15px;
}

button:focus {
  outline: unset;
}
button.btn.delete {
  color: #8d8d8d;
  width: 18px;
  font-size: 15px;
  padding: 0px;
  margin-left: 6px;
  margin-bottom: 4px;

  &:hover {
    color: #5e9eee;
  }
}

.custom-scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #303030;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #404040;
    border: 3px solid #303030;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

// import Kml File page
.import-form {
  text-align: center;
  font-weight: 500;
  width: 500px;
  max-width: calc(100% - 20px);
  height: fit-content;
  border: 1px solid #404040;
  background-color: #303030;
  padding: 50px 11px 50px 11px;
  border-radius: 5px;
  margin: 50px auto;

  .custom-file {
    margin: 30px auto;
    width: 80%;

    input {
      width: 100%;
    }
  }
}

// notification
.notification {
  display: none;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #838383;
  background-color: #222222;
  position: relative;

  p {
    margin: 0;
    padding-right: 15px;
    text-align: left;
  }

  &.success {
    border: 1px solid #436949;
    background-color: #71ac7e;
    &,
    & a {
      color: #436949;
    }
  }

  &.error {
    border: 1px solid #694343;
    background-color: #ac7171;
    &,
    & a {
      color: #694343;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#bottom-right-action {
  position: fixed;
  right: 25px;
  bottom: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media (max-width: 768px) {
  footer {
    .contact_desktop {
      display: none;
    }
    .contact_mobile {
      display: block;
    }
  }
}
