// global new location button
#new-location {
  position: fixed;
  bottom: 110px;
  right: 25px;
  background-color: #60a5fa;
  color: #222222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
}

// ai generated image
.aigenerated {
  background-color: #303030;
  width: fit-content;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px 0px 5px;
  width: fit-content;
  font-size: 0.835rem;
  margin: auto;
  text-align: center;
  margin-top: 5px;

  > i {
    color: white !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    position: inherit !important;
    line-height: 0 !important;
  }
}
i.fa-solid.fa-robot {
  color: white;
  margin-left: 10px;
  margin-top: 4px;
  position: absolute;
  line-height: 30px;
}

// waze link
i.fa-brands.fa-waze {
  font-weight: 700;
  font-size: 1.1em;
}
.waze {
  margin-right: 5px;
}

// pin container
.pin-wrapper-inner {
  margin-left: 250px;
  padding: 20px;
}
.pin-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
}

p.pin-type {
  background-color: #303030;
  color: #60a5fa;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px 0px 5px;
  width: fit-content;
  font-size: 0.835rem;
  margin: auto;
  text-align: center;

  .pin-type-text {
    text-transform: capitalize;
  }
}

.pin-container {
  display: block;
  width: 270px;
  border: 1px solid #404040;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  height: fit-content;
  position: relative;

  .pin-top-container {
    position: relative;
  }

  a:hover {
    text-decoration: none;
  }

  .pin-info-icon {
    margin-right: 10px;
  }
  .pin-img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  .pin-bottom-container {
    height: 24px;
    display: flex;
  }
  .pin-id {
    margin: auto;
    font-size: 10px;
    color: #8d8d8d;
  }

  .pin-user {
    border-top-right-radius: 7px;
    border-right: 1px solid #ffffff59;
    padding-right: 10px;
    padding-top: 2px;
  }

  .pin-edit {
    width: fit-content;
    float: right;
    border-top-left-radius: 7px;
    border-left: 1px solid #ff000059;
    padding-left: 10px;
    display: flex;
  }
  .pin-title {
    font-size: 13px;
    padding-top: 10px;
  }
}

// pin pagination
.pin-pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;

  .pagination {
    & > span {
      padding: 0 5px;

      a {
        color: #999;
      }
    }
  }
}

// pin page
.private-list {
  text-align: center;
  margin: 10px;
}

.pin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;

  .pin-warning {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    background-color: #303030;
    border-radius: 4px;
    color: #883131;
    padding: 0px 10px 0px 10px;
  }

  .pin-done {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    background-color: #303030;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
  }

  .pin-page-img {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    margin-bottom: 10px;

    img {
      max-width: 100%;
    }
  }

  .pin-page-title {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px !important;
  }

  .pin-action {
    margin-top: 5px;
    display: flex;
    justify-content: center;

    a {
      margin: 0 8px;
      font-size: 20px;
    }
  }
}

// user location
.personal_locations {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  .title_location {
    min-width: 160px;
    width: 50%;
    color: #60a5fa;
    background-color: #404040;
    border-radius: 5px;
    line-height: 1;
    margin-bottom: 10px;
    padding: calc(0.375rem + 1px) 8px;
  }

  #location {
    text-align: center;
    font-weight: 500;
    border: 1px solid #404040;
    background-color: #303030;
    border-radius: 5px;
    padding: 20px;
    min-width: 550px;

    & > .form-group {
      & > label {
        color: #60a5fa;
        width: fit-content;
        background-color: #404040;
        font-size: 14px;
        border-radius: 5px;
        line-height: 1;
        margin: auto;
        padding: calc(0.375rem + 1px) 8px;
        text-align: left;
        width: 80%;
      }

      & > input {
        color: white;
        margin: auto auto 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ffffff24;
        width: 80%;
        font-size: 12px;
        height: 40px;
        border-radius: 0;
        padding: 0.375rem 0.75rem;
      }

      & > select {
        color: white;
        background-color: #303030;
        margin: auto auto 20px;
        border: none;
        border-bottom: 1px solid #ffffff24;
        width: 80%;
        font-size: 12px;
        height: 40px;
        border-radius: 0;
        padding: 0.375rem 0.75rem;
      }

      & > input::placeholder,
      & > select::placeholder {
        color: #6d6d6d;
      }
    }
  }

  #location_submit {
    border-radius: 2px;
    margin: auto;
    width: 80%;
    height: 40px;
    border: none;
    background-color: #222222;
    color: #a2a2a2;
  }

  div.my_locations {
    margin-left: 40px;
    width: 50%;
  }
}

// custom file input
.custom-file {
  width: 80%;
  height: 70px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 0.375rem 0.75rem;
  border-radius: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #303030;
  border: 1px solid #404040;
  height: 63px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    content: 'Browse (JPG, JPEG, PNG file)';
    width: calc(100% - 90px);
    background-color: #303030;
    border: 1px solid #404040;
    border-radius: 0px;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    font-size: 12px !important;
    height: 100%;
    padding-top: 17px;
  }

  &:hover {
    cursor: pointer;
  }
}
label.image-label-placeholder {
  display: flex;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}
.upload-form-item .custom-file {
  margin-top: 30px;
  max-width: 80%;
}

#fileSize {
  color: #ffffff61;
  margin: 0;
  font-weight: 400;
  margin-left: 6px;
}

#image-preview {
  background-image: url('./img/default.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 62px;
  z-index: 20;
  position: absolute;
  left: -1px;
  bottom: -1px;
  border: 2px solid #404040;
  width: 90px;
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 0px;
}

// check coordinates button
.coordinates {
  border-radius: 2px;
  margin: auto;
  display: inherit;
  width: 80%;
  height: 40px;
  padding: 8px;
  border: none;
  background-color: #3e3d3d;
  color: #a2a2a2;
}

@media screen and (max-width: 880px) {
  .personal_locations {
    display: block;

    #location {
      min-width: 250px;
    }

    div.my_locations {
      width: 100%;
      margin: auto;
      margin-top: 30px;
    }
    .title_location {
      width: 100%;
    }
  }

  .custom-file-label::after {
    padding-top: 5px;
  }
  #fileSize {
    font-size: 10px;
    padding-top: 3px;
  }
}
