{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block content %}

{# IL FAUT ANIMER CA  #}
<div class="pin-open-search toggle"><i class="fa fa-fw fa-bars"></i></div>

<div class="pin-wrapper">
    <div class="pin-search-wrapper">
        <div class="pin-search">
            {{form(form)}}
            <a class="pin-search-reset btn-block btn-info btn" href="/locations">Reset filters</a>
        </div>
    </div>
    <div class="pin-wrapper-inner">
        {% include 'location_list.html.twig' %}
    </div>
</div>
{% endblock %}
