{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block content %}
	<div class="pin-wrapper has-sidebar">
		{% include 'sidebar.html.twig' %}
		<div class="pin-wrapper-inner has-sidebar-inner">
			{% include 'location/list.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block map %}
	<div class="open-map">
		<a href="{{ path('app_map_filter') }}" id="map-filter" class="map-link">Map <i class="fa-solid fa-map-location-dot"></i></a>
	</div>
{% endblock %}

