{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block content %}

<div class="pin-open-search toggle"><i class="fa fa-fw fa-bars"></i></div>

<div class="pin-wrapper">
    <div class="pin-search-wrapper">
        <div class="pin-search">
            {{form(form)}}
            <a class="pin-search-reset" href="/locations"><i class="fa-sharp fa-solid fa-trash"></i></a>
        </div>
    </div>
    <div class="pin-wrapper-inner">
        {% include 'location_list.html.twig' %}
    </div>
</div>
{% endblock %}
