{% extends 'base.html.twig' %}
{% block content %}
	<div class="personal_locations">
		<div class="new_location">
			<p class="title_location">
				<i class="fa-solid fa-plus"></i>
				Create new Location
			</p>

			{{ form(form) }}
			
			<a href="" target="_blank" class="coordinates btn-submit light">
				Check coordinates
			</a>
		</div>

		<div class="my_locations">
			<p class="title_location my_locations">
				<i class="fa-solid fa-location-dot"></i>
				My Locations ({{ total_result }})
			</p>

			{% include 'location/list.html.twig' %}

			<div class="pin-pagination">
				{{knp_pagination_render(locations)}}
			</div>
		</div>
	</div>
{% endblock %}
