#change_password,
#change-account-wrapper {
  text-align: center;
  font-weight: 500;
  width: 500px;
  max-width: 100%;
  border: 1px solid #404040;
  background-color: #303030;
  padding: 50px 11px 11px;
  border-radius: 5px;
  margin: 30px auto;
}
