$textColor: #a3a3a3;
$borderColor: #525252;
$backgroundColor: #404040;
$progressColor: #60a5fa;

.content-wrapper {
  display: block;
  margin: auto;
  padding-bottom: 1px;

  p {
    color: $textColor;
    margin: 0;
  }

  header {
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;

    p {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  > section {
    display: flex;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
    border: 1px solid $borderColor;
    border-radius: 8px;

    .left,
    .right {
      width: 50%;
      display: flex;
      flex-direction: column;

      &.center {
        justify-content: center;
      }
    }
    .left {
      padding-right: 40px;
      border-right: 1px solid $borderColor;
    }
    .right {
      padding-left: 40px;
    }

    .line {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -10px 10px;

      &.sm {
        margin-bottom: 0;
      }

      > * {
        margin: 5px 10px;
      }

      > .btn {
        margin: 5px;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }
    }

    .output {
      width: 100%;
      background-color: $backgroundColor;
      border: 1px solid $borderColor;
      padding: 8px;
      border-radius: 5px;
      font-size: 11px;
    }
  }
}

// highlight component
.highlight {
  p {
    margin-bottom: 3px;
  }
  div {
    font-size: 11px;
    padding: 1px 4px;
    border-radius: 5px;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
  }
}

// progress component
.progress-bar-wrapper {
  width: 100%;

  .progress-percent {
    text-align: center;
    margin-bottom: 5px;
  }

  .progress-bar {
    border-radius: 31px;
    height: 8px;
    border: 1px $borderColor solid;
    overflow: hidden;

    .progress-bar-thumb {
      background-color: $progressColor;
      height: 100%;
      width: 0;
      transition: width 1s ease-in-out;
    }
  }
}

// chat
#message {
  height: 29px;
  padding: 0 5px;
}

// online / offline dot component
.status {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inherit;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: red;
    border-radius: 50px;
  }

  &.online::before {
    background-color: green;
  }
}

#fetch-pinterest.disabled {
  color: unset;
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    section {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
        padding: 10px 0;
      }
      .left {
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid $borderColor;
      }
    }
  }
}
