#app_links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/img/home/background-clear.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  &>footer{
    display:none;
  }
}


.contact{
  &__individual{
    width: 100%;
    &>div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &>div>img{
      border: 1px solid #3a3a3a;
      border-radius: 100;
      width: 70px;
      padding: 0px;
      margin: 10px;
      margin-top: 30px;
    }
  }
  &__container{
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #3a3a3a;
    box-shadow: #000000ad 0px 0px 10px 0px;
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #24242445;
    &>p, a, img{
      text-align: center;
      font-size: 16px;
      font-weight: 700px;
      text-transform: none;
      border-radius: 40px;
      width: 100%;
      color: #d6d6d6;
      background-color: #222222;
      margin: 5px 0px 5px 0px;
      padding: 5px 10px 5px 10px;
      &>i{
        margin-right: 5px;
      }
    }
    &>img{
      border: 1px solid #3a3a3a;
      border-radius: 100;
      width: 70px;
      padding: 0px;
      margin: 10px;
      margin-top: 30px;
    }
  }
}

hr{
  margin: 10px 0px 10px 0px;
  padding: 0;
  color: #9c9a9a;
  border-radius: 0px;
  width: 50%;
}

@media (max-width: 550px) {
  #app_links{
    overflow: hidden;
  }
  .contact__container{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    overflow: auto;
    max-width: 100vw;
    justify-content: center;
    border: none;
    box-shadow: #000000 0px 0px 0px 0px;
    border-radius: 0px;
    padding-bottom: 50px;
  }
  .contact__individual{
    display: flex;
    column-gap: 40px;
    &>div{
      width: 50%;
    }
  }
}