// favorite page
p.favorite-page-title {
  text-align: center;
  margin: 20px 0px 20px -1px;
  font-size: 1.3rem;
}
.favorite-wrapper {
  padding: 20px;
}

.fav-list {
  padding: 20px;
  max-width: 700px;
  margin: 20px auto 0;

  i {
    width: 16px;
  }

  .fav-item {
    border-bottom: 1px solid #404040;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .fav-item-name {
      margin: 0;
    }
    .fav-item-loc {
      color: #4b4b4b;
      font-size: 13px;
      margin: 0;
    }
    .fav-item-user {
      color: #4b4b4b;
      font-size: 13px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      .fav-item-user-text {
        color: #757575;
        margin-right: 3px;
      }
      .fav-item-user-list {
        display: flex;
        flex-wrap: wrap;

        .span-coma {
          margin-right: 3px;
        }
      }
    }

    .dropdown-favorite {
      padding-left: 45px;
      position: relative;
      display: flex;

      &:hover .dropdown-favorite-content {
        display: block;
        opacity: 1;
        transform: translateY(0);
        -webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      }

      .dropbtn {
        background-color: transparent;
        border: none;
        color: #adadad;
        font-size: 14px;
        cursor: pointer;
        padding: 0;

        > i {
          padding: 7px;
          margin-right: 5px;
          background-color: #404040;
          color: #737373;
          border-radius: 4px;
        }
      }

      .dropdown-favorite-content {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        margin-top: -10px;
        min-width: 190px;
        right: 0;
        background-color: #303030;
        border: #525252 1px solid;
        border-radius: 6px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
        color: #d4d4d4;

        a {
          text-align: left;
          color: #d4d4d4;
          display: block;
          padding: 8px 16px;
          text-decoration: none;
          font-size: 14px;
          transition: background-color 0.2s ease-out;

          i {
            margin-right: 5px;
          }

          &:hover {
            background-color: #222222;
          }

          &.fav-item-delete {
            color: #b30404 !important;
            border-top: #525252 1px solid;
          }
        }
      }
    }
  }
}
