// favorite page
p.favorite-page-title {
  text-align: center;
  margin: 20px 0px 20px -1px;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.pin-link{
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin: auto;
  font-size: 16px;
  span{
    background-color: rgba(129, 209, 255, 0.1294117647);
    height: 30px;
    width: 2px;
    display: block;
  }
}
.favorite-wrapper {
  padding: 20px;
}

.fav-list {
  padding: 20px;
  max-width: 700px;
  margin: 20px auto 0;

  .fav-item {
    border-bottom: 1px solid #404040;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fav-item-edit{
      display: flex;
      gap: 10px;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: none;
      }
      a{
        padding: 5px 10px;
        border-radius: 3px;
      }
      span{
        height: 20px;
        border-radius: 2px;
        width: 2px;
        background-color: rgba(163, 163, 163, 0.1490196078);
      }
      .fav-item-disable, .fav-item-share-link{
        background-color: rgba(163, 163, 163, 0.1490196078);
        color: #A3A3A3;
      }
      .fav-item-share-user{
        background-color: rgba(163, 163, 163, 0.1490196078);
        color: #A3A3A3;
      }
      .fav-item-copy-link{
        color: #ad6dad;
        background-color: rgba(128, 0, 128, 0.2509803922);
      }
      .fav-item-delete{
        background-color: rgba(228, 120, 120, 0.1019607843);
        color: #E47878;
      }
    }

    .fav-item-name {
      margin: 0;
      color: rgb(216, 216, 216);
    }
    .fav-item-loc {
      color: #4b4b4b;
      font-size: 13px;
      margin: 0;
    }
    .fav-item-user {
      color: #4b4b4b;
      font-size: 13px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .fav-item-user-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 3px 0px 0px 0px;
    }
    .fav-item-user-list-pp {
      background-image: url('../../img/default_profile.png');
      display: flex;
      background-size: contain;
      background-position: center;
      border-radius: 100px;
      margin: -5px;
      width: 20px;
      height: 20px;
      & > img {
        border-radius: 100px;
        width: 100%;
        height: 100%;
      }
    }
    .fav-item-user-text {
      margin-right: 10px;
      font-size: 13px;
      color: #757575;
    }

    .dropdown-favorite {
      padding-left: 45px;
      position: relative;
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
      }

      &:hover .dropdown-favorite-content {
        transform: translateY(0);
        transition: all 1s;
      }

      .dropbtn {
        background-color: transparent;
        border: none;
        color: #adadad;
        font-size: 14px;
        cursor: pointer;
        padding: 0;

        > i {
          padding: 7px;
          margin-right: 5px;
          background-color: #404040;
          color: #737373;
          border-radius: 4px;
        }
      }

      .dropdown-favorite-content {
        position: fixed;
        display: flex;
        flex-direction: column;
        transition: all 1s;
        transform: translateY(100%);
        justify-content: space-evenly;
        padding: 10px 10px 31px 10px;
        background-color: #161616;
        bottom: 0px;
        left: 0px;
        z-index: 1030;
        width: 100%;

        .dropdown-favorite-title{
          color:rgb(216, 216, 216);
        }

        &-buttons{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          gap: 10px;
        }

        a {
          text-align: left;
          color: #d4d4d4;
          display: flex;
          padding: 13px 15px;
          text-decoration: none;
          font-size: 14px;
          transition: background-color 0.2s ease-out;
          justify-content: center;
          align-items: center;
          width: 100%;

          i {
            margin-right: 5px;
          }

          &:hover {
            background-color: #222222;
          }

          &.fav-item-delete {
            color: #b30404 !important;
          }
        }
      }
    }
  }
}
