// user location
.personal_locations {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  .title_location {
    min-width: 160px;
    width: 50%;
    background-color: #404040;
    border-radius: 5px;
    line-height: 1;
    margin-bottom: 10px;
    padding: calc(0.375rem + 1px) 8px;

    &,
    a {
      color: #60a5fa;
    }
  }

  #location {
    text-align: center;
    font-weight: 500;
    border: 1px solid #404040;
    background-color: #303030;
    border-radius: 5px;
    padding: 20px;
    min-width: 550px;
  }

  div.my_locations {
    margin-left: 40px;
    width: 50%;
  }
}

@media screen and (max-width: 880px) {
  .personal_locations {
    display: block;

    #location {
      min-width: 250px;
    }

    div.my_locations {
      width: 100%;
      margin: auto;
      margin-top: 30px;
    }
    .title_location {
      width: 100%;
    }
  }
}
