@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../components/mapProgress';

body{
    padding: 20px;
    background-color: #201E20;
    color:#FBFAF9;
    font-family: Roboto,sans-serif;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    @media (max-width: 768px) {
        padding: 10px;
        row-gap: 7px;
    }

}

.block{
        background-color: #2C2D31;
        border-radius: 5px;
}
.stats{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        column-gap: 5px;
    }
    &__container{
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 20px;
        width: 100%;
        @media (max-width: 768px) {
            padding: 10px;
            column-gap: 10px;
            margin: 10px 0px;
            width: calc(25% - 30px);
            flex-direction: column;
            row-gap: 7px;
        }
    }
    &-image{
        height: 60px;
        width: 60px;
        border-radius: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: breathe 4s infinite;
        @media (max-width: 768px) {
            height: 40px;
            width: 40px;
        }
        &>i{
            font-size: 22px;
            @media (max-width: 768px) {
               font-size: 15px;
            }
        }
        &.user{
            background-color: #303851;
            color:#5B93FF;
        }
        &.location{
            background-color: #554F47;
            color:#FFC226;
        }
        &.online{
            background-color: #403642;
            color:#FF906B;
        }
        &.test{
            background-color: #303251;
            color:#605BFF;
        }
        @keyframes breathe {
            0% {
                opacity: 0.6;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0.6;
            }
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        @media (max-width: 768px) {
            align-items: center;
        }
        &-title{
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            @media (max-width: 768px) {
                font-size: 15px;
            }
        }
        &-text{
            margin: 0;
            font-weight: 300;
            opacity: .5;
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}

.map {
    &__container {
        padding: 20px;
        position: relative;
        display: flex;
        .map {
            width: 50%;
            margin: auto;
            position: relative;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    &-info{
        width: 50%;
        color: #a3a3a3;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @media (max-width: 768px) {
            justify-content: center;
            position: absolute;
            top: 0;
            right: -130%;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            background-color: #2C2D31;
            padding: 10px;
            transition: right 0.3s ease-in-out;
            z-index: 2;
        }
    }
}

.info-loading{
    display: flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;  
    &>p{
        margin: 0;
        font-weight: 300;
    }
    &-title{
        min-width: 80px;
    } 
    &-text{
        min-width: 60px;
        text-align: right;
        font-size: 11px;
        font-weight: 500;
        opacity: .5;
    }
}

.progress-bar-container{
    width: 100%;
    background-color: #201e20;
    height: 7px;
    border-radius: 5px;
}
.progress-bar{
    height: 100%;
    border-radius: 5px;
    transition: width 1s ease-in-out;
    width: 0px;
    &.blue{
        background-color: #05c7f2;
        box-shadow: inset 0 0 10px #05C7F2, 0 0 20px #05C7F2;
    }
    &.orange{
        background-color: #f29f05;
        box-shadow: inset 0 0 10px #f29f05, 0 0 20px #f29f05;
    }
}

.fa-circle-info{
    color: #a3a3a3;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    z-index: 1;
    @media (min-width: 768px) {
        display: none;
    }
} 
.fa-circle-xmark{
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 20px;
    @media (min-width: 768px) {
        display: none;
    }
}
