.chat-icon {
  background-color: #787878;
  color: #222222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;

  .chat-dot {
    display: none;
    background-color: #60a5fa;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: notification-blink 1.3s linear infinite;

    &.new {
      display: block;
    }
  }
}

#chat-wrapper {
  background-color: #303030;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  position: fixed;
  bottom: 40px;
  right: 15px;
  width: 300px;
  height: 550px;
  transition: transform 0.5s ease;
  transform: translateX(130%);
  display: flex;
  flex-direction: column;
  border: #525252 1px solid;
  overflow: hidden;
  z-index: 1;

  &.show {
    transform: translateX(0%);
  }

  .chat-header {
    padding: 10px;
    position: relative;
    border-bottom: #525252 1px solid;
    display: flex;

    .chat-title {
      margin: 0;
      color: #a2a2a2;
      display: flex;
      align-items: center;
      width: fit-content;

      i {
        margin-right: 5px;
        position: relative;
        top: -1px;
      }

      &-image {
        margin-right: 5px;
        width: 24px;
        height: 24px;
        border-radius: 20px;
        background-image: url('../../img/default_profile.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .chat-action-wrapper {
      display: flex;
      row-gap: 10px;

      &.right {
        margin-left: auto;
        padding-left: 10px;
      }

      &.left {
        margin-left: -5px;

        .chat-action {
          width: 18px;
          font-size: 16px;
        }
      }

      .chat-action {
        width: 24px;
        height: 24px;
        cursor: pointer;
        font-size: 20px;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:active {
          color: white;
        }

        &.chat-loading {
          pointer-events: none;
          display: none;

          i {
            animation: chat-loading 1.8s ease infinite;
          }

          &.show {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .chat-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;

    &:not(.chat-default) {
      transform: translateX(100%);
      &.open {
        transform: translateX(0);
      }
    }

    .chat-inner {
      flex-grow: 1;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
    }
  }

  .chat-list {
    .chat-inner {
      .item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        position: relative;

        &.default {
          display: none;
        }

        &:hover,
        &:active {
          background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.03),
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.03),
            transparent
          );
        }

        &-left {
          &-image {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-image: url('../../img/default_profile.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
        &-right {
          margin-left: 10px;
          max-width: calc(100% - 50px);

          &-title {
            margin: 0;
            color: #bdbdbd;
            line-height: 16px;
          }
          &-message {
            margin: 0;
            font-size: 12px;
            display: flex;

            &-text {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: block;
            }
            &-date {
              position: relative;
              padding-left: 10px;

              &::before {
                content: '·';
                position: absolute;
                left: 2px;
                font-size: 24px;
                line-height: 18px;
              }
            }
          }
        }

        &.new {
          .item-right-title,
          .item-right-message {
            color: white !important;
          }
        }
      }
    }
  }

  .chat-item {
    .chat-info-button.hidden {
      display: none;
    }

    .chat-inner {
      padding: 10px;

      .message {
        display: block;
        max-width: 80%;
        margin: 5px 0;

        &.default {
          display: none;
        }

        .name {
          font-size: 11px;
          color: #5a5a5a;
          margin-bottom: 0.2rem;
          margin-top: 0.2rem;
        }

        .message-content {
          background-color: #737373;
          font-size: 14px;
          width: fit-content;
          padding: 5px 8px;
          color: white;
          border-radius: 10px;
          margin-bottom: 0;
        }

        .message-date {
          font-size: 10px;
          opacity: 0.6;
          margin-top: 5px;
        }

        .shield {
          display: none;
        }
        &.ROLE_ADMIN {
          .shield {
            display: inline;
            margin-left: 0;
            margin-right: 3px;
          }
        }

        &.user-current {
          margin-left: auto;

          .name {
            width: fit-content;
            margin-left: auto;
          }

          .message-content {
            margin-left: auto;
            background-color: #5da0f1;
          }
          .message-date {
            text-align: right;
          }

          &.ROLE_ADMIN .name {
            flex-direction: row-reverse;
          }
        }

        &.SERVER {
          max-width: 100%;

          .message-content {
            width: 100%;
            max-width: 100%;
            text-align: center;
            border-radius: 0;
          }
        }

        &.INFO {
          max-width: 100%;

          + .INFO {
            margin-top: 0;
          }

          .name,
          .message-date {
            display: none;
          }

          .message-content {
            width: 100%;
            max-width: 100%;

            background-color: unset;
            text-align: center;
            color: #5a5a5a;
            font-size: 12px;
            line-height: 16px;
            padding: 0;
          }
        }

        &.ROLE_ADMIN .name {
          color: #ffd000;
          font-weight: 400;
          display: flex;

          .shield {
            margin-left: 3px;
          }
        }
      }
    }

    .message-form {
      width: 100%;
      margin: 0;
      text-align: center;
      border-top: #525252 1px solid;
      padding: 5px;
      display: flex;

      .message-input {
        flex-grow: 1;
        background-color: #737373;
        border: none;
        border-radius: 40px;
        color: white;
        font-size: 13px;
        padding: 4px 4px 4px 8px;
        height: 30px;

        &:focus-visible {
          outline: none;
        }
        &:focus {
          box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
      }

      .message-send {
        background-color: transparent;
        color: #737373;
        border: none;
        color: white;
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 5px;

        &::focus {
          outline: none;
        }

        i {
          position: relative;
          left: -1px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          z-index: 0;
          border-radius: 50%;
          transform: scale(0);
          transition: all 0.5s;
          background-color: rgba(0, 0, 0, 0.3);
        }

        &:hover::before,
        &:active::before {
          transform: scale(1);
        }
      }
    }
  }

  .chat-new,
  .chat-info {
    .chat-inner {
      padding: 10px;
      row-gap: 20px;
    }
  }

  .chat-edit {
    &-title {
      border: none;
      border-bottom: 1px solid #404040;
      background-color: transparent;
      color: #bbb;
      font-size: 14px;
      padding: 4px 24px 4px 8px;
      width: 100%;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      }
      &:focus-visible {
        outline: 0;
      }
    }

    &-users {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      .item {
        display: flex;
        align-items: center;

        &.default {
          display: none;
        }

        &-left {
          display: flex;
          align-items: center;
          width: calc(100% - 24px);
          padding-right: 5px;

          &-image {
            width: 30px;
            height: 30px;
            background-image: url('../../img/default_profile.png');
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 10px;
            flex-shrink: 0;
          }
          &-username {
            color: #bdbdbd;
            font-size: 14px;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        &-right {
          &-remove {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
              color: #bdbdbd;
            }
          }
        }
      }
    }

    &-search,
    &-submit,
    &-image-label {
      background-color: #222222;
      color: #8d8d8d;
      display: block;
      text-align: center;
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: #60a5fa;
      }
    }

    &-search,
    &-image-label {
      background-color: #3e3d3d;
    }

    &-image-label {
      .max-size {
        font-size: 12px;
        opacity: 0.7;
      }
    }

    &-image {
      width: 1px;
      height: 1px;
    }
    &-image-preview {
      background-color: #363636;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-image-wrapper,
    &-title-wrapper {
      position: relative;

      &.hidden {
        display: none;
      }

      .icon-edit.hidden {
        display: none;
      }

      &.default {
        .icon-confirm,
        .text-editable {
          display: none;
        }

        input,
        label {
          pointer-events: none;
        }
      }
      &:not(.default) {
        &.modified {
          .icon-edit {
            display: none;
          }
        }
        &:not(.modified) {
          .icon-confirm {
            display: none;
          }
        }
        .text-default {
          display: none;
        }
      }
    }

    &-button {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-title-button {
      top: 3px;
    }
  }

  .chat-info {
    .chat-edit {
      &-users {
        .item {
          &-left {
            &-pseudo {
              color: #bdbdbd;
              margin: 0;
            }
            &-username {
              color: inherit;
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #chat-wrapper {
    margin: 0%;
    height: calc(100% - 44px);
    position: fixed;
    width: 100%;
    top: 44px;
    right: 0;
  }
}

@keyframes notification-blink {
  0% {
    background-color: #456893;
  }
  50% {
    background-color: #60a5fa;
  }
  100% {
    background-color: #456893;
  }
}

@keyframes chat-loading {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
