//favorite popup
.pin-fav-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;

  .pin-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    &:hover {
      text-decoration: none;
    }
  }
}

.pin-fav-list {
  padding: 10px;
  max-height: 500px;
  overflow-Y: auto;
  .form-check{
    padding-top: 10px;
  }
  .form-check-label {
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #7a7a7a;
  }
}

.pin-fav-add {
  background-color: $background;
  border-radius: 6px;
  padding-bottom: 13px;
  min-width: 260px;
  height: fit-content;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  right: 0;
  transition: all 0.5s;
  visibility: hidden;
  overflow-y: auto;
  width: 50%;
  z-index: 10000;
  left: 50%;
  transform: translate(-50%, 100%);
  @media (max-width: 768px) {
    width: 100%;
    left: 0;
    transform: translate(0%, 100%);
  }

  &.show {
    transform: translate(-50%, 0%);
    visibility: visible;
    @media (max-width: 768px) {
      transform: translate(0%, 0%);
    }
  }

  .pin-fav-add-top {
    background-color: #202020;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    p {
      color: white;
      font-weight: bold;
      margin: 0px;
      i{
        margin-right: 5px;
      }
    }

    .pin-fav-add-close {
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      right: -5px;
    }
  }

  .pin-fav-add-new-wrapper {
    padding: 10px;
    display: flex;

    .pin-fav-add-new {
      font-size: 14px;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      border-radius: 4px;
      color: #60a5fa;
      background-color: #60a5fa3d;
    }

    .pin-fav-add-new-field {
      display: flex;
      position: absolute;
      top: 0;
      height: 44px;
      padding: 10px;
      left: 0px;
      width: 100%;
      background-color: #303030;
      transition: transform  0.5s, visibility 0.5s;
      transform: translateY(-100%);
      visibility: hidden;
      align-content: center;
      align-items: center;

      &.show {
        transform: translateY(0%);
        visibility: visible;
      }

      .pin-fav-add-new-input {
        flex-grow: 1;
        color: white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ffffff24;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
        border-radius: 0;
        max-width: calc(100% - 16px);

        &:focus-visible {
          outline: 0;
        }
      }

      .pin-fav-add-new-confirm {
        margin-left: 5px;
      }
    }
  }
}
