@import '/assets/variables.scss';


.navbar {
  &-content {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &-logo {
    img {
      height: 20px;
    }

    a {
      color: $contrast-5;
    }
  }

  &-separator {
    height: 20px;
    width: 1px;
    background-color: $contrast-3;
  }

  &-item {
    color: $contrast-5;
    font-size: $medium;

    &.new-link {
      color: $white;
      background-color: $blue;
      padding: 4px 10px;
      border-radius: 40px;
      font-size: $small;

      &:hover {
        background-color: $darker-blue;
      }
    }
  }

  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .filter {
    display: none;
  }

  .discord_desktop>a {
    color: #c2c2c2;
  }

  .discord_mobile {
    display: none !important;
  }

  .settings {
    position: relative;
    display: flex;

    &>a {
      font-size: 0.9rem;
      font-weight: 500;
    }

    &>p {
      font-size: 0.9rem;
      font-weight: 500;
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &:hover .dropdown-content {
        display: block;
        opacity: 1;
        transform: translateY(0);
        -webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
      }

      .dropbtn {
        background-color: transparent;
        border: none;
        color: #adadad;
        font-size: 14px;
        cursor: pointer;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-image {
          background-image: url('../../img/default_profile.png');
          width: 25px;
          height: 25px;
          border-radius: 3px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 7px;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        min-width: 220px;
        right: 0;
        background-color: $background;
        padding: 10px 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.2), 0 8px 10px -6px rgba(0, 0, 0, 0.4);

        a{
          &:hover{
            color: $contrast-4;
          }
        }

        &-logged {
          margin: 0;
          text-align: left;
          font-size: $small;
          color: $contrast;
        }

        &-name {
          margin: 0;
          text-align: left;
          font-size: $medium;
          color: $contrast-3;
        }

        &-item {
          font-size: $medium;
          display: block;
          width: 100%;
          text-align: left;
          padding: 8px 0px;
          text-decoration: none;
          color: $contrast-3;
        }

        &-logout {
          font-size: $medium;
          display: block;
          width: 100%;
          text-align: left;
          padding: 8px 0px;
          color: $contrast;
        }
        
        &-separator{
          display: block;
          width: 100%;
          height: 1px;
          margin: 10px 0px;
          background-color: $contrast-2;
        }
        .menu_icon-image {
          background-image: url('../../img/default_profile.png');
          width: 35px;
          height: 35px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 3px;
          margin-right: 10px;
        }

        .menu_header {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }

  .login_register {
    background-color: #007bff;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 40px;
    transition: background-color 0.5s ease;
    color: white;

    &:hover {
      background-color: #0f5fb4;
      transition: background-color 0.5s ease;
      color: white;
    }
  }

  @media screen and (max-width: 1024px) {
    .discord_desktop {
      display: none;
    }

    .discord_mobile {
      display: block !important;
    }

    .filter {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .dropdown {
      display: block;

      &:hover .dropdown-content {
        display: block;
        -webkit-transition: none;
        transition: none;
      }

      .dropdown-content {
        position: static;
        display: none;

        a {
          display: block;
          padding: 10px 20px;
        }
      }
    }
  }
}