@import '/assets/variables.scss';


// new location arrow to indicate how to create new location
.first-location {
  &.hide {
    display: none;
  }

  position: absolute;
  left: 0;
  transform: translateX(calc(-100% - 20px));
  white-space: nowrap;
  margin: 0;
  color: white;
  animation: first-location-move 2s infinite;
  font-size: 1rem;
}

// ai generated image
.aigenerated {
  background-color: #303030;
  width: fit-content;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px 0px 5px;
  width: fit-content;
  font-size: 0.835rem;
  margin: auto;
  text-align: center;
  margin-top: 5px;

  >i {
    color: white !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    position: inherit !important;
    line-height: 0 !important;
  }
}

i.fa-solid.fa-robot {
  color: white;
  margin-left: 10px;
  margin-top: 4px;
  position: absolute;
  line-height: 30px;
}

// waze link
i.fa-brands.fa-waze {
  font-weight: 700;
  font-size: 1.1em;
}

.waze {
  background-color: rgba(129, 209, 255, 0.1294117647);
  color: #81D1FF;
}

.pin-map{
  background-color: rgba(52, 168, 81, 0.1882352941);
  color: #34A851;
}

.pin-edit{
  background-color: rgba(163, 163, 163, 0.1490196078);
  color: #A3A3A3;
}

.pin-bottom-container form{
  background-color: rgba(228, 120, 120, 0.1019607843);
  color: #E47878;
}

// pin container
.pin-wrapper-inner {
  padding: 20px;
}

.pin-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-content: space-evenly;
}


.pin-category {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px 0px 5px;
  width: fit-content;
  font-size: 0.835rem;
  display: block;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 10px;

  .pin-category-text {
    text-transform: capitalize;
  }
}

.pin-results {
  text-align: center;
  color: $contrast;
  width: 100%;
}

.pin-container {
  display: block;
  width: 260px;
  border-radius: 4px;
  height: fit-content;
  margin: 10px;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 2px solid #2b2b2b;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  .pin-top-container {
    position: relative;
  }

  a:hover {
    text-decoration: none;
  }

  .pin-check {
    background-color: rgba(163, 163, 163, 0.1490196078);
    color: #ffffff;
  }
  .pin-warning{
    background-color: rgb(255 140 0 / 15%);
    color: #fcff00;
  }

  .pin-img {
    border-radius: 6px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  .pin-bottom-container {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    &> *{
      margin: 0;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .pin-id {
    margin: auto;
    font-size: 10px;
    color: #8d8d8d;
  }

  .pin-user {
    border-top-right-radius: 7px;
    border-right: 1px solid #ffffff59;
    padding: 0px 10px;
    padding-top: 2px;
  }

  .pin-title {
    text-transform: capitalize;
    color:$white;
    font-weight: bold;
    font-size: $medium;
    padding: 5px 0px;
  }
}

// pin pagination
.pin-pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;

  .pagination {
    &>span {
      padding: 0 5px;

      a {
        color: #999;
      }
    }
  }
}

// pin page
.private-list {
  text-align: center;
  margin: 10px;
}

.pin-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 20px;
  }

  .pin-category {
    position: inherit;
    margin: 5px 0px;
  }
  
  .pin-warning {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    background-color: #303030;
    border-radius: 4px;
    color: #883131;
    padding: 0px 10px 0px 10px;
  }

  .pin-page-content{
    width: 40%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  .pin-done {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    background-color: #303030;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
  }

  .pin-page-img {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 60%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    img {
      height: 500px;
      width: 100%;
      border-radius: 15px;
      object-fit: cover;
      @media screen and (max-width: 1024px) {
       height: 300px;
      }
    }
  }

  .pin-page-title {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: $contrast;
    margin-bottom: 10px !important;
  }

  .pin-action {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;

    a {
      margin: 0 8px;
      font-size: 20px;
    }

    form .btn {
      font-size: 18px;
      margin: 0 8px;
    }

    .pin-separator{
      width: 100%;
      height: 1px;
      background-color: $contrast-2;
    }

    .pin-link{
      padding: 5px 15px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin: 0;
      font-size: 16px;
      span{
        height: 30px;
        width: 2px;
        display: block;
      }
    }
    .pin-waze{
      background-color: #81d1ff21;
      color:#81D1FF;
      // border: 2px solid #81D1FF;
      span{
        background-color: #81d1ff21;
      }
    }

    .pin-map{
      background-color: #34a85130;
      color:#34A851;
      // border: 2px solid #34A851;
      span{
        background-color: #34a85130;
      }
    }

    .pin-edit{
      background-color: #a3a3a326;
      color:#A3A3A3;
      // border: 2px solid #A3A3A3;
      span{
        background-color: #a3a3a326;
      }
    }

    .pin-delete{
      form{
        width: 100%;
      }
      .delete{
        padding: 5px 15px;
        border-radius: 5px;
        margin: 0;
        background-color: #e478781a;
        color:#E47878;
        // border: 2px solid #E47878;
        width: 100%;
        text-align: left;
        &:after {
          font-size: 16px;
          content: 'Delete Pin';
          margin-left: 20px;
          padding-left: 10px;
          border-left: 2px solid #E47878;
      }
      }
    }
  }
}

@keyframes first-location-move {
  0% {
    transform: translateX(calc(-100% - 20px));
  }

  50% {
    transform: translateX(calc(-100% - 10px));
  }

  100% {
    transform: translateX(calc(-100% - 20px));
  }
}