$fetch: #05C7F2;
$fetch-dark: #05AFF2;

$process: #f28305;
$process-dark: #f25c05;

@mixin grid($primary, $primary-dark) {
    .grid {
        .square {
            box-shadow: 0 0 2px $primary;
        
            &.done {
                background: repeating-linear-gradient(
                    -45deg, 
                    rgba($primary-dark, 0.1), 
                    rgba($primary-dark, 0.1) 2px, 
                    rgba($primary, 0.02) 2px, 
                    rgba($primary, 0.02) 5px
                ), linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba($primary, 0.2));   
            }
        
            &.highlight::before {        
                border: 2px solid $primary-dark;
                box-shadow: inset 0 0 10px $primary, 0 0 20px $primary;
            }
        }
    }
}

.map {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
    background-image: url("../../img/earth.png");
    background-size: contain;
    
    .grid {
        height: 100%;
        width: 100%;

        .square {
            position: absolute;
            display: flex;

            &.highlight::before {
                position: relative;
                content: "";
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                animation: glow 2s infinite linear;
            }
        }
    }

    &:not(.process) {
        @include grid($fetch, $fetch-dark);
    }
    &.process {
        @include grid($process, $process-dark);
    }
}

@keyframes glow {
    0% {
        opacity: 0.2;
    }
    40%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}