body {
    background-color: #222222;

    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    margin: auto;
}
.fixed-top {
    height:44px;
    text-align: right;
    background-color: #303030;
    box-shadow: inset 0 -1px 0 #525252;
    padding: 8px 15px;
}
.settings > a {
    color: #737373;
    font-size: .9rem;
    font-weight: 500;
    }
.logo{
    color:#d4d4d4;
    font-weight: 500;
    font-size:0.875rem
}
.navbar-collapse{
    display: flex;
    justify-content: space-between;
}
.filter{
    width:37px;
}


.pin-open-search{
    cursor: pointer;
    font-size: 17px;
    width: 1.25em;
    opacity:.5;
    color: #e5e5e5;
    position: fixed;
    top: 10px;
    z-index: 1049;
    left: 11px;
    display: none;
}

.pin-search-wrapper { height: calc(100% - 44px); position: fixed; top: 44px; left: 0px; }

.pin-search{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    border-right: 1px solid #303030;
    background-color: #303030;
    width: 250px;
    font-size: 0.875rem;
    font-weight: 500;
}

.pin-search .btn-info {
    background-color: #404040;
}

.pin-search legend {
    color: #60a5fa;
    background-color: #404040;
    border-radius: 5px;
    padding-left: 10px;
    line-height: 1;
    margin-bottom: 10px;
}

.pin-search legend i{
    margin-right: 7px;
}

.pin-search #string{
    color: #6d6d6d;
    margin: auto auto 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff24;
    font-size: 12px;
    height: 40px;
    border-radius: 0;
}
.pin-search #string:focus{
    color: #6d6d6d;
    margin: auto auto 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff24;
    font-size: 12px;
    height: 40px;
    border-radius: 0;
}

input[type=checkbox]::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    border: 1px solid #ffffff24;
    background-color: #404040;
  }

  input[type=checkbox]:checked::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    border: 3px solid #404040;
    background-color: #60a5fa;
  }

/* width */
.pin-search::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.pin-search::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
.pin-search::-webkit-scrollbar-thumb {
  background: #404040;
  border: 3px solid #232323;
  border-radius: 10px;
}

/* Handle on hover */
.pin-search::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.sidebar {
    background-color: black;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#country{
    text-transform: capitalize;
}
#type{
    text-transform: capitalize;
}
.pin-container{
    display: block;
    width: 270px;
    border: 1px solid #404040;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    height: fit-content;
}
.pin-img{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.pin-bottom-container{
    height: 24px;
    display: flex;
}
.pin-id{
    margin: auto;
    font-size: 10px;
    color: #8d8d8d;
}
.pin-user {
    color: #8d8d8d;
    border-top-right-radius: 7px;
    border-right: 1px solid #ffffff59;
    padding-right: 10px;
    padding-top: 2px;
}
.pin-user > a {
    color: #8d8d8d;
}

.pin-edit {
    width: fit-content;
    color: #717171;
    float: right;
    border-top-left-radius: 7px;
    border-left: 1px solid #ff000059;
    padding-left: 10px;
}
.pin-edit > a {
    color: #8d8d8d;
}
.pin-title{
    font-size: 13px;
    padding-top: 10px;
}
.pin-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

}
.pin-pagination .pagination > span {
    padding: 0 5px;
}
.pin-pagination .pagination > span a {
    color: #999;
}

.pin-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
}

.pin-wrapper-inner {
    margin-left: 250px;
    padding: 20px;
}

.pin-filter-btn{
    margin: auto;
    width: 75%;
    height: 40px;
    border: none;
    background-color: #222222;
    color: #a2a2a2;
    border-radius: 0;
    float: left;
}

.pin-filter-btn:hover{
    background-color: #1d1c1c;
    color: #a2a2a2;
    transition: .5s;

}
.pin-search-reset:hover{
    color: #a2a2a2;
    transition: .5s;

}

.pin-search-reset{
    float: right;
    width: 20%;
    margin-left: 5%;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    color:#6d6d6d;
    text-align: center;
}

.pin-results{
    padding-top: 50px;
    width: 100%;
}
@media screen and (max-width: 1024px) {


    .pin-open-search {
        display: block;
    }
    .pin-wrapper-inner {
        margin-left: 0;
    }
    .pin-wrapper .pin-search-wrapper {
        width: 100%;
        background-color: rgba(0,0,0,0);
        transition: .5s;
        visibility: hidden;
        opacity: 1;
    }

    .pin-search-wrapper {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0px;
        z-index: 1050;
    }

    .pin-wrapper .pin-search-wrapper .pin-search {
        left: -250px;
        transition: all .5s;
    }

    .pin-wrapper.menu-open .pin-search-wrapper {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,.6);
    }
    .pin-wrapper.menu-open .pin-search-wrapper .pin-search {
        transform: translateX(100%);
    }
}