{% extends 'base.html.twig' %}

{% block content %}

<div class="register"> 
<h1>Register</h1>
{{ form(form) }}
</div>


<style>
		body{
			background-image: url(../home/register.png);
    		backdrop-filter: brightness(0.5);
			-webkit-backdrop-filter: brightness(0.5);
			background-position: left;
			max-height:100vh;
			background-size: cover;
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.register {
			text-align: center;
			font-weight: 500;
			width: 300px;
			border: 1px solid #404040;
			background-color: #222222;
			padding: 50px 11px 11px;
			border-radius: 5px;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		h1::before {
    		content: '';
    		background-color: #007bff;
    		padding: 2px;
   			 margin-right: 18px;
		}
		h1 {
			text-align: center;
			margin-bottom: 50px;
			color: #ffffffd4;
		}
		label {
			display:none;
		}
		.form-control {
    		color:#e6e6e6!important;
		}
		input {
            color:#e6e6e6;
			margin: auto auto 20px;
			background-color: transparent!important;
			border: none!important;
			border-bottom: 1px solid #ffffff24!important;
			width: 80%!important;
			font-size: 12px!important;
			height: 40px!important;
            border-radius:0px!important;
		}
				input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus {
			-webkit-text-fill-color: #e6e6e6;
			transition: background-color 50000s ease-in-out 0s;
		}
		button {
    		margin: auto;
    		width: 80%;
    		height: 40px;
    		border: none;
    		background-color: #007bff;
    		transition: background-color 0.5s ease-out;
    		color: white;
    		border-radius: 40Px!important;
		}
		button:hover {
			transition: 0.3s;
			background-color: #1e1e1e!important;
		}
		.fixed-top {
    		background-color: transparent;
   			backdrop-filter: blur(21px);
    		-webkit-backdrop-filter: blur(21px);
		}

			footer{
			background-color: transparent;
   			backdrop-filter: blur(21px);
    		-webkit-backdrop-filter: blur(21px);
		}
	</style>
{% endblock %}