// lightmode

// Colors
$background : #161616;
$white: rgb(216, 216, 216);
$red : red;
$contrast: white;
$contrast-5: #e1e1e1;
$contrast-4: #808080;
$contrast-3: #7a7a7a;
$contrast-2: #494949;
$contrast-1: #252525;
$contrast-light : #0c0c0c;

$blue: #6B9CF6;
$darker-blue : #5d8be0;

//Fonts
.thin {
    font-weight: 300;
}

.regular {
    font-weight: 400
}

.bold {
    font-weight: bold;
}
$small : 12px;
$medium : 14px;
$large : 16px;


@media screen and (max-width: 1024px) {
    .m-none{
        display: none;
    }
}

.desktop-none{
    display: none;
}

@media screen and (max-width: 1024px) {
    .desktop-none{
        display: block;
    }
}