// lightmode

// Colors
$background : white;
$white: white;
$red : red;
$contrast: black;
$contrast-5: #444444;
$contrast-4: #808080;
$contrast-3: #9E9E9E;
$contrast-2: #ededed;
$contrast-1: #F9F9F9;
$blue: #6B9CF6;
$darker-blue : #5d8be0;

//Fonts
.thin {
    font-weight: 300;
}

.regular {
    font-weight: 400
}

.bold {
    font-weight: bold;
}
$small : 12px;
$medium : 14px;