{% block content %}
	<div class="chat-icon">
		<div class="chat-dot"></div>
		<i class="fa-solid fa-comment"></i>
	</div>

	<div class="chat-wrapper">
		<p class="chat-title"> <i class="fa-solid fa-earth-europe"></i> General Chat</p>
		<div class="chat-close"><i class="fa-solid fa-xmark"></i></div>
		
		<div id="chat" class="custom-scroll"></div>

		<div class="form-group message-send">
			<input type="text" id="message">
			<button type="button" class="message-btn" id="sendBtn">
				<i class="fa-solid fa-paper-plane"></i>
			</button>
		</div>
	</div>

	<script>
		const chatAddUrl = "{{ path('chat_add', {channel: 0}) }}";
		const chatGetUrl = "{{ path('chat_get', {channel: 0}) }}";
		const chatChannel = "{{ getEnv('CHAT_CHANNEL') }}";
		const currentId = "{{ app.user.id }}";
	</script>
{% endblock %}
