{% extends 'base.html.twig' %}
{% block content %}
	<div class="contact-container">
		<div class="contact-general">
			<div class="contact-banner"></div>
			<a target="blank" href="https://www.instagram.com/a2urbex/">
				<i class="fa-brands fa-instagram"></i>
				a2urbex</a>
			<p>
				<i class="fa-solid fa-envelope"></i>
				contact@a2urbex.eu</p>
			<p>
				<i class="fa-solid fa-envelope"></i>
				support@a2urbex.eu</p>
		</div>
		<div class="contact-self">
			<div class="contact-clement">
				<img src="./contact/clement.png">
				<a target="blank" href="https://github.com/clementp0">Clementp0
					<i class="fa-brands fa-github"></i>
				</a>
				<a target="blank" href="https://instagram.com/clement.po">clement.po
					<i class="fa-brands fa-instagram"></i>
				</a>
			</div>
			<span></span>
			<div class="contact-hugo">
				<img src="./contact/hugo.png">
				<a target="blank" href="https://github.com/LahaxeHugo">
					<i class="fa-brands fa-github"></i>
					LahaxeHugo</a>
				<a target="blank" href="https://www.instagram.com/hugolahaxe/">
					<i class="fa-brands fa-instagram"></i>
					hugolahaxe</a>
			</div>
		</div>

	</div>
{% endblock %}
