<!doctype html>
<html lang="fr">
</head>
<body>
      {% block content %}
      
      {% endblock %}
      <style>
      body{
            height: 100%;
            width: 100%;
            background-color: #181818;
            background-image: url('/assets/images/Dot.svg');
            overflow : hidden;
            font-family: Avenir, Helvetica, Arial, sans-serif;
             -webkit-font-smoothing: antialiased;
      }
      
      </style>
</body>
</html>