{% extends 'base.html.twig' %}

{% block title %}Hello FavoriteController!{% endblock %}

{% block content %}
    <div style="padding:20px">
        {% include 'location_list.html.twig' %}
    </div>
{% endblock %}
