{% extends 'base.html.twig' %}

{% block content %}
	{% if id|default(null) %}
		<p class="favorite-page-title">{{title}}</p>
		<div class="favorite-wrapper">
			{% include 'location/list.html.twig' %}
		</div>
		<a href="{{ path('app_map_favorite', {'key': hashFav(id)}) }}" class="map-link">
			<i class="fa-solid fa-map-location-dot"></i>
		</a>
	{% else %}
		<p class="private-list">This list is private</p>
	{% endif %}
{% endblock %}
