{% extends 'base.html.twig' %}

{% block content %}
	{% if id|default(null) %}
		<p class="favorite-page-title">{{title}}</p>
		<div class="favorite-wrapper">
			{% include 'location/list.html.twig' %}
		</div>
	{% else %}
		<p class="private-list">This list is private</p>
	{% endif %}
{% endblock %}