{% extends 'base.html.twig' %}
{% set key = "#{id}#{hashkey}" %}

{% block content %}

    <div style="padding:20px">
        {% include 'location/list.html.twig' %}
    </div>
    <a href="{{ path('app_map_favorite', {'key': key | hashids_encode}) }}" class="map-link"><i class="fa-solid fa-map-location-dot"></i></a>
{% endblock %}